@model DGSappSem2Final.Models.Assements.Assessment

@{
    ViewBag.Title = "DownloadComplete";
}


<h3>Hooray !! Download Complete</h3>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Download" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
