@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
@*<h3>@ViewBag.Message</h3>*@
 
<p>Girls’ High Gear opened in 1991 as a project of the School Governing Body to provide a friendly,<br>convenient, one-stop uniform shop right here on the school premises.<br>Profits generated from this venture are contributed to the Durban Girls’ High School Educational Trust..</p>
