@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>DGHS Contact Details </h3>

<address>
    495 Lena Ahrens Road<br />
    Glenwood 4001<br />
    <abbr title="Phone">Phone:</abbr>
    +27 31 274 2700.
    <abbr title="Phone"> Fax:</abbr>
    + 27 31 205 6123
</address>
, 
<address>
    <strong>Support:</strong>   <a href="DgssSupport@telkom.ac.za">DgssSupport@telkom.ac.za</a><br />
    <strong>Marketing:</strong> <a href="DgssMarketing@telkom.ac.za">DgssMarketing@telkom.ac.za</a>
</address>