@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Durban Girls High School</h1>
    <p class="lead">Welcome to Durban Girls High School </p>
    @*class="btn btn-default"*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Join Us</h2>
        <p>
            Are you a new student click bellow to sign up to our Sudents log Where you can be notified immediatly on out standing payments ,Test dates and so much more 
        </p>
        <p><a  href="https://dgsappsem2final2020.azurewebsites.net/Students/Create" class="btn btn-primary btn-lg">Join Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Our Library</h2>
        <p>wanna check out a book . join us at our online library where you can place an order on a book and jst come to the library with your student card to recieve the book </p>
        <p><a  href="https://dgsappsem2final2020.azurewebsites.net/Books" class="btn btn-primary btn-lg">Check It Out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join A Team </h2>
        <p>If your interested in doing things after school rather join our Clubs and become a bigger part of the DGHS Family </p>
        <p><a  href="https://dgsappsem2final2020.azurewebsites.net/StudentExtraMurals/Create" class="btn btn-primary btn-lg">Join Team &raquo;</a></p>
    </div>
</div>